@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}



body{ 
  background-image: url("https://thumbs2.imgbox.com/dc/b8/Pr66QRvZ_t.jpg");
   background-size: cover;
  
}
h1{
  color: navy;
  align-content: stretch;
  text-align: center;
padding: 20 px;
text-decoration: inherit;
}

p
{
  text-align:center;
  float: inline-end;
  color: blueviolet;
  text-size-adjust: max(10, 10);
}
#clock {
  font-size: 50px;
  text-align: center;
}

#time {
  font-weight: bold;
  color: darkred;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}
#logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 44px;
  height: auto;
  z-index: 1;
}
#dialogue {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 10px;
  z-index: 1;
}

#dialogue a {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

#dialogue img {
  width: 30px;
  height: auto;
  align-items: center;
}